# Canonicalize author/committer identities for git log/shortlog/blame.
# All Reaper commits are the work of the single project maintainer identity.
reaper <theunbounddeveloper@outlook.com> <theunbounddeveloper@outlook.com>
reaper <theunbounddeveloper@outlook.com> TheUnboundDeveloper <TheUnboundDeveloper@outlook.com>
reaper <theunbounddeveloper@outlook.com> nvaitehiarna <TheUnboundDeveloper@outlook.com>
